fieldset {
    
    min-width: 500px;
    
}

section {
    float:none;
    width:100%;
}


article {
    
    clear:both;
min-width: 550px;
margin:10px;
}

fieldset label {
    width: 150px;
}

#txtSkill {
    width: 400px;
    max-width: 400px;
    height: 300px;
}

footer {
    float: none;
    text-align: center;
    text-decoration: solid;
    background-color: grey;
}

    footer a {
    }

#containerFieldsets {
    float:none;
}