
fieldset {
    align-self:center;
    width:500px;
        clear: inherit;
}

article {
    align-self:center;

}

fieldset label{
    width: 150px;
}

#txtSkill {
    width:400px;
    max-width:400px;
    height:300px;
}


footer {
    float:none;
    text-align: center;
    text-decoration: solid;
    background-color: grey;
}

    footer a {


    }
