<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <!--<add name="ConexionAW" connectionString="Server=Pachu-Pc;Database=AdventureWorks2008R2;User Id=lppa;Password=lppa2015;" />-->

    <!--<add name="ConexionAW" connectionString="Data Source=DMC-NOTEBOOK\SQLEXPRESS;Initial Catalog=AdventureWorks2008;Integrated Security=True;" />-->

    <add name="ConexionAW" connectionString="Server=ASUS-PC;Database=AdventureWorks2012;User Id=lppa;Password=lppa2015;" />
  </connectionStrings>
</configuration>